* {
  box-sizing: border-box;
}

section {
  padding: 30px;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  padding: 8px;
  margin-bottom: 32px;
  border-radius: 4px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #808080;

  color: #2E2F42;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

#datetime-picker:hover 
 {
  border-radius: 4px;
  border: 1px solid #000;
}

#datetime-picker:focus{
  border-radius: 4px;
  border: 1px solid #4E75FF;
  outline: transparent;
}

button[data-start] {
  width: 75px;
  height: 40px;
  display: inline-flex;
  padding: 8px 16px;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  outline: transparent;
  color: #fff;
  background: #4E75FF;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

button[data-start]:disabled {
  color: #989898;
  background: #CFCFCF;
}

button[data-start]:hover, button[data-start]:focus {
  color: #FFF;
  background: #6C8CFF;
  outline: transparent;
}

.timer {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  color: #2E2F42;

  font-family: Montserrat;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.label {
  color: #2E2F42;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5; 
}

/* ========================= Task 2 ========================= */

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

input[name="delay"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;

  width: 360px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid #808080;
}

input[name="delay"]:hover {
  border: 1px solid #000;
}

input[name="delay"]:focus {
  border: 1px solid #4E75FF;
  outline: transparent;
}

.form fieldset {
  width: 360px;
  height: 64px;
  flex-shrink: 0;

  border: 1px solid #808080;
  border-radius: 4px;
}

.form fieldset:hover{
  border: 1px solid #000;
}


button[type="submit"] {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  outline: transparent;
  border-radius: 8px;
  background: #4E75FF;
}

button[type="submit"]:hover {
  background: #6C8CFF;
}
